.container {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  z-index: 10;
  height: 30px;
  width: 90%;
}

.top {
  top: 55px;
}

.bottom {
  bottom: 55px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 70%;
  }
}
