.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.title {
  color: var(--section-title);
}

.text {
  text-align: center;
  color: var(--section-subtitle);
}
