:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: #1a1a2e;
  --white: #fff;
  --main-title: #ff4b5c;
  --main-subtitle: #2d4059;
  --section-title: #333;
  --section-subtitle: #666;
}

body,
h1,
h2,
p {
  margin: 0;
}
