.container {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  margin: 50px auto;
  padding: 20px;
  width: 90%;
  background-color: var(--white);
  border-radius: 10px;
  min-height: calc(100vh - 100px);
}

@media screen and (min-width: 768px) {
  .container {
    width: 70%;
  }
}
